{% extends "base.html" %}

{% block title %}1조 블로그{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">

    <h1>{{ title }}</h1>

    <form action="." method="post">{% csrf_token %}

    {% if form.errors %}
    <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}

    <p>보안을 위해 이전 암호를 입력한 다음 새 암호를 두번 입력하십시오.</p>

    <fieldset class="aligned">

        <div class="form-row">
            {{ form.old_password.label_tag }} {{ form.old_password }}
        </div>

        <div class="form-row">
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        </div>

        <div class="form-row">
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="비밀번호 변경"/>
    </div>

    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>

</div>
{% endblock %}
