body{
  background: white;
}

.mymenu {
  width:100%;
  margin:50px auto;
} 

/* 오른쪽 부분 환영합니다~ 부분 텍스트 컬러 하얗게 */
.welcome{
  color: white;
  font-size: 13px;
  padding-right: 15px;
}

.navbar-header{
  width: 100%;
  height: 10%;
}

.navbar-default {
  background: #FFC0A9;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: white;
}



/* 내비바 하버시 텍스트 컬러 하얗게 */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: white;
}



/* 드랍다운시 드랍다운 메뉴 색상 지정. (북마크, 블로그, 사진, 설문 등등.) */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background: #53B2A0;
  color: #fff;

}

/* 드랍다운 시 아래로 내려오는 ul, li들. 화면축소시 드랍다운 내비바에 뒤로 비쳐보이는 현상 z-index로 해결 */
ul.dropdown-menu.show {
  padding: 0;
  z-index: 100px;
}


/* 드랍다운 안에 메뉴 */
.dropdown-menu>li>a {
    display: block;
    clear: both;
    color: #000;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.dropdown-menu>li>a:hover {
    display: block;
    clear: both;
    color: #fff;
    white-space: nowrap;
    background: #53B2A0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 상단바에 로그인 부분 (비번바꾸기&로그아웃 등) 텍스트 색*/
.welcome a, a:focus{
  color: #fff;
}
.welcome a:hover, a:focus{
  color: #000;
}


/* 그 이외의 a태그 색상. */
a, a:focus {
  color: #53B2A0;
}

a:hover, a:focus{
  color: #FFC0A9;
  text-decoration: none;
}

/* ###########################  드랍다운 메뉴 설정들  ########################### */
li:hover {
  background: #53B2A0;
}

.no:hover {
  background: #fff;
}

.nono:hover {
  background: #fff;
  color: #000;
}

.navbar-nav li:hover {
  background: #53B2A0;
}

.dropdown li:hover {
  background: #53B2A0;
}

.dropdown-menu {
  min-width: 100%;
  padding: 10px 0;

}

.btn-primary{
  background: #53B2A0;
  border: 1px solid #53B2A0;
  color: #fff;
  box-shadow: none;
}

.btn-primary:hover {
  background: #53B2A0;
  border: 1px solid #53B2A0;
  color: #000;
}

.btn-default{
  background: #fff;
  border: 1px solid #53B2A0;
  color: #53B2A0;
  box-shadow: none;
}

.btn-default:hover {
  background: #fff;
  border: 1px solid #53B2A0;
  color: #000;
}

/* ###################################################################### */


/*######################  albul_list.html 변경 설정  ########################*/

#content {
  margin-left: 50px;
}


.clear_float {
  margin-top: 50px;
}

.button {
  margin-top: 15px;
}

















/* ###################################################################### */

/* TABLE */
table {
border-collapse: collapse;
}

td, th {
line-height: 18px;
border-bottom: 1px solid #eee;
vertical-align: top;
padding: 5px 15px;
font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

table.change-list, table.change-list th, table.change-list td {
border: 1px solid #ccc;
}
/* ###################################################################### */
