body {

  height: 100%;
}
div#content_home {
    position: absolute;
    margin-top:50px;
    left: 50px;
    right: 110px;
    height:500px;
}

div#homeimg {
    background: #fff;
    padding: 5px 0 1px 0;
    text-align: center;

    background: #eee;
}

div.box {
  margin-top:20px;
  border-top:1px solid #000;
  padding-top:10px;
  padding-bottom:10px;
  width: 70%;
  margin-left: 14%;

}


/*div.img {
  width:49%;
  display:inline-block;
  height:256px; width:100%;
}
div.img img{
  height:256px; width:100%;
}
div.ex {
  width:49%;
  display:inline-block;
  margin:0;
}*/

a{
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #2D5F73;
}
h2 {
  display: block;
  margin: 0 0 0 14%;
}
.pic, .appsgroup {
    width: 50%;
    float: left;
    height: 300px;
}
.pic {
  margin-top: 10px;
}

.appsgo, .appsgt {
    width: 100%;
    float: left;
}

.bg, .bm, .pho, .alb {
    width: 50%;
    float: left;

}

.appsgroup img{
  width: 250px;
  height: 125px;
}
