{% extends "base.html" %}

{% block title %}1조 블로그{% endblock %}

{% block content %}
<div id="content">

<h1>블로그 검색</h1>
<br>

<form action="." method="post"> {% csrf_token %}
    {{ form.as_table }}

            <button type="submit" class="btn btn-default">검색</button>
</form>

<br/><br/>

{% if object_list %}
{% for post in object_list %}
    <h2><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
    {{ post.modify_date|date:"N d, Y" }}
    <p>{{ post.description }}</p>
{% endfor %}

{% elif search_term %}
<b><i>검색한 단어 ({{ search_term }}) 찾지 못했습니다 !</i></b>
{% endif %}

</div>
{% endblock %}
