{% extends "base.html" %}

{% block title %}1조 블로그{% endblock %}

{% block content %}
<div id="content">

    <h1>포스트 변경 - {{user}}</h1>

    <table class="change-list table-striped">
        <tr>
            <th>제목</th>
            <th>설명</th>
            <th>작성자</th>
            <th>업데이트</th>
            <th>삭제</th>
        </tr>

        {% for item in object_list %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.owner }}</td>
            <td><a href="{% url 'blog:update' item.id %}">업데이트</a></td>
            <td><a href="{% url 'blog:delete' item.id %}">삭제</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
