{% extends "base.html" %}

{% block title %}1조 블로그{% endblock %}

{% block content %}
<div id="content">

    <h1>앨범 변경 - {{user}}</h1>

    <table class="change-list table-striped">
        <tr>
            <th>이름</th>
            <th>설명</th>
            <th>작성자</th>
            <th>업데이트</th>
            <th>삭제</th>
        </tr>

        {% for item in object_list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description|linebreaks }}</td>
            <td>{{ item.owner }}</td>
            <td><a href="{% url 'photo:album_update' item.id %}">업데이트</a></td>
            <td><a href="{% url 'photo:album_delete' item.id %}">삭제</a></td>
        </tr>
        {% endfor %}
    </table>

</div>


<script src="static/js/jquery-2.1.3.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
{% endblock %}
