{% extends "base.html" %}

{% block title %}1조 블로그{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}
<link href="static/css/bootstrap.min.css" rel="stylesheet">

{% block content %}
<div id="content">

    <h2>{{ object.title }}</h2>

    <table class="photo-detail">
    <tr>
    <td>
        <a href="{{ object.image.url }}">
        <img style="max-width:100%" src="{{ object.image.url }}" />
        </a>
    </td>

    <td>
    <ul>
        <li class="nono">사진 설명</li>
        {% if object.description %}<p>{{ object.description|linebreaks }}</p>
        {% else %}<p>(blank)</p>{% endif %}
        <li class="nono">업로드 날짜</li>
        <p>{{ object.upload_date }}</p>
        <li  class="nono">앨범 이름</li>
        <p><a href="{% url 'photo:album_detail' object.album.id %}">{{ object.album.name }}</a></p>
    </ul>
    </td>
    </tr></table>
</div>
<script src="static/js/jquery-2.1.3.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
{% endblock %}
